{% load  static  %}
 <!-- Start page content -->
        <section id="page-content" class="page-wrapper">
        
         
         
            <!-- FEATURED FLAT AREA START -->
            <div class="featured-flat-area pt-115 pb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title-2 text-center">
                                <h2>Featured PROPERTY</h2>
                                <p>Sheltek is the best theme for  elit, sed do eiusmod tempor dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lorna aliquatd minim veniam, quis nostrud</p>
                            </div>
                        </div>
                    </div>
                    <div class="featured-flat">
                        <div class="row">
                      
                            {% for rs in randomproperties %}
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="flat-item">
                                    <div class="flat-item-image">
                                        <span class="for-sale">For Sale</span>
                                        <a href="properties-details.html"><img src="{{ rs.image.url }}" alt=""></a>
                                        <div class="flat-link">
                                            <a href="/property/{{rs.id}}/{{rs.slug}}">More Details</a>
                                        </div>
                                        <ul class="flat-desc">
                                            <li>
                                                <img src="{% static 'images/icons/4.png' %}" alt="">
                                                <span>450 sqft</span>
                                            </li>
                                            <li>
                                                <img src="{% static 'images/icons/5.png' %}" alt="">
                                                <span>5</span>
                                            </li>
                                            <li>
                                                <img src="{% static 'images/icons/6.png' %}" alt="">
                                                <span>3</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="flat-item-info">
                                        <div class="flat-title-price">
                                            <h5><a href="properties-details.html">{{ rs.title }}</a></h5>
                                            <span class="price">$52,350</span>
                                        </div>
                                        <p><img src="{% static 'images/icons/location.png' %}" alt="">{{ rs.adress }}</p>
                                    </div>
                                </div>
                            </div>
                            {%  endfor %}


                        </div>
                    </div>
                </div>
            </div>
            <!-- FEATURED FLAT AREA END -->
         
        </section>
        <!-- End page content -->