{% load  static  %}
<style>
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

<!--.dropdown-submenu>a:after {-->
<!--  display: block;-->
<!--  content: " ";-->
<!--  float: right;-->
<!--  width: 0;-->
<!--  height: 0;-->
<!--  border-color: transparent;-->
<!--  border-style: solid;-->
<!--  border-width: 5px 0 5px 5px;-->
<!--  border-left-color: #cccccc;-->
<!--  margin-top: 5px;-->
<!--  margin-right: -10px;-->
<!--}-->

.dropdown-submenu:hover>a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
</style>

<!-- HEADER AREA START -->
<header class="header-area header-wrapper">
    <div class="header-top-bar bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{% static 'images/logo/logo.png'%} " alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 hidden-sm hidden-xs">
                    <div class="company-info clearfix">
                        <div class="company-info-item">
                            <div class="header-icon">
                                <img src="{% static 'images/icons/phone.png'%} " alt="">
                            </div>
                            <div class="header-info">
                                <h6>{{ setting.phone }}</h6>
                                <p>Saat 9 ile - 22 arasi acigiz</p>
                            </div>
                        </div>
                        <div class="company-info-item">
                            <div class="header-icon">
                                <img src="{% static 'images/icons/mail-open.png'%} " alt="">
                            </div>
                            <div class="header-info">
                                <h6><a href="mailto:mhmtaliakbay@gmail.com">{{ setting.email }}</a></h6>
                                <p>Bize Mail Gonderebilirsiniz</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="header-search clearfix">
                        <form action="/search/" method="post">
                            {% csrf_token %}
                            <button class="search-icon" type="submit">
                                <img src="{% static 'images/icons/search.png'%} " alt="">
                            </button>
                            <input name="query" type="text" placeholder="Search...">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="sticky-header" class="header-middle-area  transparent-header hidden-xs">
        <div class="container">
            <div class="full-width-mega-drop-menu">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sticky-logo">
                            <a href="index.html">
                                <img src="{% static 'images/logo/logo.png'%} " alt="">
                            </a>
                        </div>


                        <nav id="primary-menu">
                            <ul class="main-menu text-center dropdown ">
                                <li><a href="/">Anasayfa</a></li>

                                {% load mptt_tags %}
                                <li class="dropdown-submenu ">
                                    <a tabindex="-1" class="dropdown-toggle topLevel" data-toggle="dropdown"
                                       href="#">
                                        Kategoriler
                                        <i class="icon icon-caret-right"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% recursetree category %}
                                        <li  class="dropdown-submenu">
                                            <a href="/category/{{node.id}}/{{ node.slug }}">{{ node.title }}</a>
                                            {% if not node.is_leaf_node %}
                                            <ul class="dropdown-menu">
                                               {{ children }}
                                            </ul>
                                              {% endif %}
                                        </li>
                                        {% endrecursetree %}
                                    </ul>
                                </li>


                                <li><a href="/hakkimizda">Hakkımızda</a></li>
                                <li><a href="/referanslar">Referanslar</a></li>
                                <li><a href="/iletisim">İletişim</a></li>
                                <li><a href="/faq">FAQ</a></li>
                                {% if user.id is not None %}
                                <li><a href="#">{{ user.first_name }}</a>
                                    <ul class="drop-menu menu-right">
                                        <li><a href="/user/">My Account</a></li>
                                        <li><a href="/user/comments/">Comments</a></li>
                                        <li><a href="/user/properties/">Ekledigim evler</a></li>
                                        <li><a href="/logout/">Log out</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                <li><a href="#">Giris Yap</a>
                                    <ul class="drop-menu menu-right">
                                        <li><a href="/login/">Login</a></li>
                                        <li><a href="/signup/">Create Account</a></li>
                                    </ul>
                                </li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- HEADER AREA END -->

<!-- MOBILE MENU AREA START -->
<div class="mobile-menu-area hidden-sm hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="service.html">Service</a>
                                <ul>
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="service-details.html">Service details</a></li>
                                </ul>
                            </li>
                            <li><a href="properties.html">Properties</a>
                                <ul>
                                    <li><a href="properties.html">Properties</a></li>
                                    <li><a href="properties-details.html">Properties details</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Pages</a>
                                <ul>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="agent.html">Agent</a></li>
                                    <li><a href="agent-details.html">Agent-details</a></li>
                                    <li><a href="features.html">Features</a></li>
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="service-details.html">Service details</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="404.html">404</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single-blog.html">Single Bloge</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MOBILE MENU AREA END -->
