{% extends "homebase.html" %}

{% block title %} {{setting.company}} {% endblock %}
{% block keywords %} {{setting.description}} {% endblock %}
{% block description %} {{setting.keywords}} {% endblock %}
{% block head %}<link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}">{% endblock %}


{% block content %}
        <!-- BREADCRUMBS AREA START -->
        <div class="breadcrumbs-area bread-bg-1 bg-opacity-black-70">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs">
                            <h2 class="breadcrumbs-title">iletisim</h2>
                            <ul class="breadcrumbs-list">
                                <li><a href="/">Anasayfa</a></li>
                                <li>iletisim</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS AREA END -->

        <!-- Start page content -->
        <section id="page-content" class="page-wrapper">
                                                                                     

            <!-- CONTACT AREA START -->
            <div class="contact-area pt-115 pb-115">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 col-xs-12">
                              {{ setting.contact | safe }}
                        </div>
                        <div class="col-sm-7 col-xs-12">
                            <div class="contact-messge contact-bg">
                            
                      
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" roles="alert">
                                        {{message}}
                                    </div>
                                {% endfor %}
                            {% endif %}      

                                <!-- blog-details-reply -->
                                <div class="leave-review">
                                    <h5>Mesaj bırakın</h5>
                                    <form  action="" method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="submit-btn-1">SUBMIT</button>
                                    </form>

                                    <p class="form-messege mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTACT AREA END -->

        </section>
        <!-- End page content -->
         

{% endblock %}

                                          